/**
 * Page styles:
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #0074d9;
  text-decoration: none;
}

body {
  color: #222;
  font-family: Noto Sans;
  font-size: 24px;
}

h1 {
  font-size: 48px;
}

h1 a {
  color: inherit;
}


/**
 * Base slide styles:
 */

.step {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.step.circle {
  border-radius: 50%;
  color: #fff;
  height: 500px;
  width: 500px;
}

.step.split {
  height: 520px;
  width: 960px;
}

.step.full {
  height: 720px;
  width: 960px;
}


/**
 * Utility styles:
 */

.accent {
  color: #f6871f;
}

.bad h2, .better h2 {
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2em;
  text-align: center;
  text-transform: uppercase;
}

.bad .copy, .better .copy {
  font-size: 32px;
}

.card {
  background-color: #222;
  border-radius: 2%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.card {
  height: 560px;
  width: 720px;
}

.card dd {
  border-collapse: collapse;
  border-color: #333;
  border-style: solid none none;
  border-width: 1px;
  margin: 0;
  padding: 0.25em 1rem;
  transition: background-color 0.25s;
}

.card dl {
  margin: 0 0 1em 0;
  width: 100%;
}

.card dt {
  font-size: 75%;
  font-weight: bold;
  margin-top: 0.75em;
  padding: 0.25em 1rem;
  text-transform: uppercase;
}

.card h1 {
  text-align: center;
}

.chart {
  display: flex;
  flex-direction: row;
}

.copy {
  font-family: Merriweather, serif;
  line-height: 1.4;
}

.example {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 1em 2em;
  text-align: center;
}

.example.outset {
  left: 50%;
  margin-left: -250px;
  width: 500px;
}

.example:before {
  background-image: url('images/lightbulb.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 48px;
  margin: 0 auto 0.5em;
  width: 48px;
}

.group {
  text-align: center;
}

.half {
  width: 46%;
}

.inset, .outset {
  border: 5px solid #fff;
  display: block;
  position: absolute;
}

.inset {
  border-radius: 50%;
  height: 160px;
  left: 50%;
  margin-left: -80px;
  top: 0;
  width: 160px;
}

.inset-caption {
  font-size: 32px;
  margin-top: 96px;
  text-align: center;
}

.inverted {
  color: #fff;
}

.outset {
  bottom: 0;
}

.pie-legend {
  list-style: none;
}

.pie-legend li {
  display: block;
  padding-left: 48px;
  position: relative;
  margin-bottom: 0.25em;
}

.pie-legend span {
  border-radius: 3px;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.split {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/**
 * Background colors:
 */

.blue {
  background-color: #0074d9;
  color: #fff;
}

.green {
  background-color: #3d9970;
  color: #fff;
}

.navy {
  background-color: #001f3f;
  color: #fff;
}

.orange {
  background-color: #f6871f;
  color: #fff;
}

.red {
  background-color: #ff4136;
  color: #fff;
}


/**
 * Individual slides:
 */

#content, #design, #structure {
  display: block;
  text-align: center;
}

#content .label, #design .label, #structure .label {
  font-weight: bold;
  text-transform: uppercase;
}

#content {
  background-color: #001f3f;
}

#content .label {
  font-size: 300%;
  margin-top: 200px;
}

#design {
  background-color: #0071e5;
}

#design .label {
  margin-top: 28px;
}

#how .title, #why .title {
  font-size: 120px;
  text-transform: uppercase;
}

#keep-in-touch {
  text-align: center;
}

#structure {
  background-color: #003f7f;
}

#structure .label {
  font-size: 150%;
  margin-top: 60px;
}

#welcome .title {
  font-size: 72px;
}
